<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="author" content="Michael Mugge, Copyright IDAZCO &copy; 2018">
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <!-- ios -->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <title>Tracking</title>

    <link rel="shortcut icon" href="/web/favicon.ico">

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">

    <!-- Vue -->
    <script src="vue.min.js"></script>

</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand">IDAZCO&trade; Tracking</span>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right navbar-style">
                <li><a href="#" id="btnDashboard">Dashboard</a></li>
                <li><a href="#" id="btnSettings">Settings</a></li>
                <!--<li><a href="#">Profile</a></li>-->
                <li><a href="#" id="btnHelp">Help</a></li>
            </ul>
            <!--
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
            -->
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="main" id="app">

            <div v-if="server_ok && license_ok">
                <div id="dashboard">
                    <div class="placeholders" v-if="channels.length > 0">
                        <div class="div-channel" v-for="(chan, index) in channels">

                            <!-- color component -->
                            <div v-if="chan.type=='color'">
                                <button :data-name="chan.name" :data-val="chan.val" :data-idx="index" :data-type="chan.type"
                                        onclick="updateChannel($(this).attr('data-name'), false)"
                                        :style="{backgroundColor: chan.data}" type="button" class="btn-channel-color"
                                        data-toggle="modal" href="#myModal"><!-- open the "Updating..." model message -->
                                </button>
                            </div>

                            <!-- counter component -->
                            <div v-if="chan.type=='counter'">
                                <button
                                        style="backgroundColor: white" type="button" class="btn-channel-counter">

                                    <i class="counter-text">{{ chan.val }}</i>
                                </button>
                                <div class="opt-spacer" style="padding-top: 10px"></div>
                                <div>
                                    <button class="counter-controls" onclick="updateChannel($(this).attr('data-name'), '-')"
                                            :data-name="chan.name" :data-val="chan.val" :data-idx="index" :data-type="chan.type"
                                            data-toggle="modal" href="#myModal">
                                        <i>-</i>
                                    </button>
                                    <button class="counter-controls" onclick="updateChannel($(this).attr('data-name'), '+')"
                                            :data-name="chan.name" :data-val="chan.val" :data-idx="index" :data-type="chan.type"
                                            data-toggle="modal" href="#myModal"><!-- open the "Updating..." model message -->
                                        <i>+</i>
                                    </button>
                                    <div style="padding: 2px"></div>
                                </div>
                            </div>

                            <!-- name -->
                            <h4 class="h-channel">{{ chan.name }}</h4>
                        </div>
                    </div>
                    <div v-else>
                        <h2>Get started</h2>
                        <ul class="user-text white">
                            <li>Go to Settings to add "channels" for the Dashboard</li>
                            <li>Go to Help to learn about this app and how to use it</li>
                        </ul>
                    </div>
                </div>

                <div v-if="license_ok" id="settings">
                    <h2 class="section-heading">Dashboard Settings</h2>

                    <!-- add -->
                    <div class="form-group container-fluid" id="addchannelform">
                        <label class="control-label">Add Channel:</label>
                        <p class="text-muted small">A channel is something you want to track.</p>
                        <div class="col-md-2">
                            <input id="addchannelname" name="addchannelname" type="text" placeholder="New channel name" class="form-control user-text">
                        </div>
                    </div>
                    <div class="form-group container-fluid opt-spacer">
                        <p class="text-muted small opt-spacer">Select the channel type.</p>
                        <div class="radio">
                            <label class="radio user-text bottom white">
                                <input type="radio" class="radio" name="optChannelType" value="color" checked="checked">Colors
                            </label>
                        </div>
                        <div class="opt-spacer"></div>
                        <div class="radio">
                            <label class="radio user-text bottom white">
                                <input type="radio" class="radio" name="optChannelType" value="counter">Counter
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <button onclick="addChannel()" class="btn btn-primary pull-right btn-success" data-toggle="modal" href="#myModal">Add</button>
                        </div>
                    </div>
                    <hr>

                    <!-- delete -->
                    <div v-if="channels.length > 0">
                        <div class="form-group container-fluid" id="deletechannelform">
                            <label class="control-label">Delete Channel:</label>
                            <p class="text-muted small">Channel will be deleted immediately</p>
                            <div class="col-md-2" v-for="chan in channels">
                                <ul class="list-unstyled" id="deleteList">
                                    <li>
                                        <input type="checkbox" :value="chan.name"/>
                                        <span class="white user-text">{{ chan.name }}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2" v-if="channels">
                                <button onclick="deleteChannel()" class="btn btn-primary pull-right btn-danger" data-toggle="modal" href="#myModal">Delete</button>
                            </div>
                        </div>
                        <hr>
                    </div>

                    <!-- colors -->
                    <div class="form-group container-fluid" id="colorcycleform">
                        <label class="control-label">Color Cycle:</label>
                        <p class="text-muted small">Comma separated list of valid HTML color names.</p>
                        <div class="col-md-2">
                            <textarea id="colorcycle" placeholder="red, orange, green" class="form-control user-text" style="min-width: 240px"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <button onclick="saveColorCycle()" class="btn btn-primary pull-right btn-info" data-toggle="modal" href="#myModal">Save</button>
                        </div>
                    </div>
                    <hr>

                    <!-- button size -->
                    <div class="form-group container-fluid" id="bottonsize">
                        <label class="control-label">Button Size:</label>
                        <p class="text-muted small">Set the your button size, for channel buttons on the Dashboard. (Does not update other stations)</p>
                        <div class="row placeholder pull-left">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <button onclick='set_button_size("Large");toggle_view("dashboard")' class="btn btn-primary pull-right btn-info">Bigger</button>
                            </div>
                            <div class="col-md-6col-sm-6 col-xs-6">
                                <button onclick='set_button_size("Medium");toggle_view("dashboard")' class="btn btn-primary pull-right btn-info">Smaller</button>
                            </div>
                        </div>
                    </div>

                    <h2 class="section-heading">WiFi</h2>

                    <div class="form-group container-fluid">
                        <label class="control-label"></label>
                        <div class="row placeholder pull-left white">
                            <div class="col-md-12">
                                Password:&nbsp;&nbsp;{{ wifi_pass }}
                            </div>
                        </div>
                    </div>

                    <div><p>&nbsp;</p></div>

                </div>
            </div>
            <div v-else>
                <div class="row">
                    <h2 v-if="!server_ok" class="text-danger text-primary">The server is unreachable.</h2>
                    <h2 v-if="!license_ok" class="text-danger text-primary">The server is unlicensed.</h2>
                </div>
            </div>

            <div id="help" class="white">
                <h2>Help</h2>
                <h3>What's this app for?</h3>
                Use this app to track the status for something, or a group of things. In concept, a "channel" is a thing you
                wish to track the status of, and a color would have any meaning you wish, to represent some status.<br><br>
                Only colors are used to convey meaning for the status, just as colors on traffic signals convey meaning
                without having words printed on each colored light.<br><br>
                Another thing this app has in common with traffic lights, is that just as a traffic light cycles through colors
                in a specific order, the app will also cycle through colors in the order you named them in the Settings screen.
                <hr>

                <h3>Example: Table status tracking in a restaurant</h3>
                In this scenario, each channel, I define represents a table. In this case, I want to track one of the
                following states for each table (channel):
                <ul>
                    <li>occupied</li>
                    <li>needs cleaning</li>
                    <li>ready</li>
                </ul>
                Since I already understand that specific colors represent a statuses, its really not important what the terms
                are that I use for each status. As long as I understand that I want certain colors have specific meaning:
                <ul>
                    <li>RED = occupied</li>
                    <li>YELLOW = needs cleaning</li>
                    <li>GREEN = ready</li>
                </ul>
                To make this app work for me, I simply need to go to <strong>Settings</strong> and:
                <ul>
                    <li>create a channel for each table using the "Colors" channel type (the channel name is the table number)</li>
                    <li>define the 3 colors I want to cycle through in order (red, yellow, green)</li>
                </ul>
                Then I would simply go back to the <strong>Dashboard</strong> and start managing the statuses of my tables
                by clicking on the button for any table, to change its status (color).<br>
                <hr>

                <h3>Counters:</h3>
                In addition to being able to use colors to track statuses, you can also create "Counter" channel to keep
                count of something. For example to keep count of how many people are waiting in the lobby to be seated.
                Counters can't go lower than zero.
                <hr>

                <div style="padding-top: 50px"></div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="footer text-muted">
        This prototype is licensed for exclusive use by affiliates, and all other uses are strictly prohibited.
        <br>Copyright &copy; IDAZCO 2018
    </div>
</footer>

<!-- Modal -->
<div class="modal " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body center-block">
                <h2 class="text-info text">Updating ...</h2>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="jquery/1.12.4.min.js"></script>
<script src="bootstrap/js/bootstrap.js"></script>
<!-- Vue SPA -->
<script>

    /////////////////////
    // VUE SPA FUNCTIONS

    var app = new Vue({
        el: '#app',
        data: {
            channels: [],
            server_ok: true,
            license_ok: true,
            update_in_progress: false,
            button_size: "Large",
            wifi_pass: "",
            wifi_system: false
        }
    });

    var colorCycleChannelName = "system_color_cycle_data_channel",
        colorCycle = [];

    function getLicenseStatus() {
        fetch("/license", {
            method: "get"
        }).then(function (response) {
            app.license_ok = response.ok == true;
            console.log("Licensed? " + app.license_ok)
        });
    }

    function getNetworkStatus() {
        fetch("/wifi", {
            method: "get"
        }).then(function (response) {
            if (!response.ok) {
                app.wifi_system = response.ok == true;
                return
            }
            return response.text();
        }).then(function(text) {
            if (!text) {
                return
            }
            var d = JSON.parse(text);
            console.log(d);
            app.wifi_system = d['ok'];
            app.wifi_pass = d['message'];
        });
    }

    function setChannel(name, ch_type, val) {
//        console.log("Set " + ch_type + " channel '" + name + "' to: " + val);
        fetch("/ch/" + name + "/set", {
            method: "post",
            body: '{"type":"' + ch_type + '","val":"' + val + '"}'
        });
    }

    function addChannel() {
        if (!app.server_ok) {
            return
        }
        var name = $("#addchannelname").val();
        var ch_type = $("input[name=optChannelType]:checked").val();
        if (name == "") {
            return
        }
        name = name.replace(" ", "-").replace('"', "-").trim();
        // first make sure the named channel does not already exist
        if (!channelExists(name)) {
            setChannel(name, ch_type, 0);
        }
    }

    function updateChannel(name, mod) {
//        console.log("Call updateChannel(" + name + ")");
        app.update_in_progress = true;
        if (!app.server_ok) {
            app.update_in_progress = false;
            return
        }
        var ch_type = $("button[data-name='" + name + "']").attr("data-type");
        var int_val = $("button[data-name='" + name + "']").attr("data-val");
        int_val = parseInt(int_val) + 1;
        // counter math
        if (mod === "-") {
            if (ch_type == 'counter' && int_val == 0) {
                return
            }
            int_val = int_val - 2;
            if (int_val < 0) {
                int_val = 0;
            }
        }

        // start color over from begging after end is reached
        if (ch_type == "color" && int_val >= colorCycle.length) {
            int_val = 0
        }
        setChannel(name, ch_type, int_val, mod);
        app.update_in_progress = false;
        getChannels();
    }

    function deleteChannel() {
        if (!app.server_ok) {
            return
        }

        var checked = $("#deleteList :checked");
        if (checked.length > 0) {
            for (var i in checked) {
                var c = checked[i].value;
                if (c) {
                    console.log("Deleting " + c);
                    fetch("/ch/" + c + "/delete");
                }
            }
            getChannels()
        }
    }

    function channelExists(channel_name) {
        if (app.channels == false) {
            return false
        }
        for (var i in app.channels) {
            if (i["name"] == channel_name) {
                return true
            }
        }
        return false
    }

    function getChannels() {
        // skip getting channels if an update is in progress
        if (app.update_in_progress = false) {
            return false;
        }
        fetch("/ch/list")
            .then(function (response) {
                if (!response.ok) {
                    app.server_ok = false;
                    return;
                }
                if (!app.server_ok) {
                    app.server_ok = true;
                    setTimeout(function () {
                        $("#settings").hide();
                    }, 5000)
                }
                // pass the text to the next "then"
                return response.text()
            })
            .then(function (text) {
                if (text == "{}") {
                    app.channels = [];
                } else {
                    parseChannelData(text);
                }
            })
            .catch(function () {
                console.log("Exception caught when getting channels");
                if (app.server_ok) {
                    app.server_ok = false
                }
            });
        return true
    }

    function parseChannelData(text) {
        if (text === "") {
          return
        }
        var d = JSON.parse(text);
        var setData = function (ch_type, val) {
            var retval = val;
            if (ch_type == "color") {
                retval = colorCycle[val]
            }
            return retval;
        };
        var resetValIfNeeded = function (ch_type, val) {
            val = parseInt(val);
            if (ch_type == "color" && val > colorCycle.length) {
                val = 0
            }
            if (ch_type == "counter" && val < 0) {
                val = 0
            }
            return val;
        };

        // colorCycle must be set first
        for (var i in d) {
            if (i.toString() == colorCycleChannelName) {
//                console.log("reset colorCycle");
                colorCycle = [];
                var colorCycleData = d[i]["val"];
//                console.log("colorCycle data:");
//                console.log(colorCycleData);
                if (!colorCycleData) {
                    colorCycle = ["red", "orange", "green"]
                } else {
                    colorCycle = (d[i]["val"]).split(",");
                }
                delete d[i]; // may as well make next iteration shorter
                break;
            }
        }
        // now we can set the data for channels
        if (!app.update_in_progress) {
            app.channels = [];
            for (var i in d) {
                if (i.toString() != colorCycleChannelName) {
                    var ch_type = d[i]["type"], val = resetValIfNeeded(d[i]["type"], d[i]["val"]);
                    var data = {"name": i.toString(), "type": ch_type, "val": val, "data": setData(ch_type, val)};
                    app.channels.push(data)
                }
            }
        }

        if (colorCycle.length == 0) {
            saveColorCycle()
        }
    }

    function saveColorCycle() {
        if (!app.server_ok) {
            return
        }

        var colors = $("#colorcycle").val().trim();
        if (colors == "") {
            colors = ["red", "orange", "green"]
        } else {
            var a = colors.split(",");
            if (a.length < 2) {
                console.log("At least 2 colors are required");
                // todo: add message
                return
            }
            colors = [];
            for (var c in a) {
                colors.push(a[c].trim())
            }
        }
        colorCycle = colors;
        showColorCycle();
        setChannel(colorCycleChannelName, "colorCycle", colors.join(","));
    }

    function showColorCycle() {
        $("#colorcycle").val(colorCycle.join(","));
    }

    ///////////////////
    // UI FUNCTIONS

    function toggle_view(target_div) {
        $("#settings,#dashboard,#help").hide();
        $("#" + target_div).show();
        if (target_div == "settings") {
            showColorCycle()
        }
        ;
        if (target_div == "dashboard") {
            // in case buttons were added when they re-sized previously, this will make them
            // all uniform again when switching back to the dash to view what was added
            set_button_size(app.button_size)
        }
        $("[aria-expanded=true]").click()

    }

    function set_button_size(size_name) {
        app.button_size = size_name;
        console.log("Setting button size: " + size_name);
        switch (size_name) {
            case "Large":
                $('.btn-channel-color').width(100).height(100);
                $('.btn-channel-counter').width(100).height(60);
                $(".div-channel").css({"padding": "5px"});
                $('.counter-text').css({"font-size": "30pt"});
                $('.opt-spacer').css({"padding-top": "10px"});
                break;
            case "Medium":
                $('.btn-channel-color').width(40).height(64);
                $('.btn-channel-counter').width(60).height(34);
                $(".div-channel").css({"padding": "20px"});
                $('.counter-text').css({"font-size": "14pt"});
                $('.opt-spacer').css({"padding-top": "0px"});
                break;
        }
    }

    /////////////////////
    // PAGE READY
    $(function () {
        // click event bindings
        $("#settings").hide();
        $("#help").hide();
        $("#btnSettings,#btnDashboard,#btnHelp").click(function (event) {
            toggle_view(event.target.id.substr(3).toLowerCase())
        });
        $("#btnAddChannel").click(addChannel);

        // license check
        getLicenseStatus();

        // network check
        getNetworkStatus();

        // initialize channel data
        getChannels();

        // refresh every few seconds
        setInterval(getChannels, 1500);

        // hiding the modal
        $('#myModal').on('shown.bs.modal', function () {
            setTimeout(function () {
                $('#myModal').modal('hide');
            }, 1000);
        });
    });
</script>

</body>
</html>
